@media screen and (max-width: 600px){
    .A{
        flex-direction: column;
    }
    .Article{
        height: 60px;
        width: 600px;
    }
    header{
        height: 150px;
        width: 600px;

    }
    main{
        height: 350px;
        width: 600px;
    }
}