body{
    margin: 0;
}

#one{
    height: 729px;
    width: 1440px;
    background-image: url("coffe.png");
}
a{
    text-decoration: none;
}
.coffee1{
    margin: 0 382px;
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cof1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 160%; /* 28.8px */
}
.Home{
    color: #FF4B32
}

h3{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 130%; /* 31.2px */
}

.coffee-wine{
    margin: 100px 771px 309px 145px;
    justify-content: center;
    align-items: center;

}
.c-1{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 58px;
    font-style: normal;
    line-height: 120%; /* 69.6px */
    color: #FFF;

}
.n-1{

    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #FFF;
    font-size: 20px;
    line-height: 160%; /* 32px */
}
button{
    display: inline-flex;
    padding: 16px 35px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: #FF4B32;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    line-height: 160%; /* 28.8px */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}
#two{
    width: 1440px;
    height: 729px;
    margin: 15vh 10vw;
}
.c-2{
    width: 590px;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 43px;
    font-style: normal;
    line-height: 130%; /* 55.9px */
    letter-spacing: 6px;
}
.n-2{
    width: 506px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
}
.blok-3{
    display: flex;
    align-items: center;
    margin: 10vh 20vw 0 0;
}
.i-c-2{
    width: 300px;
    height: 265px;
    margin: 0 10vw 0 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.price-1, .price-2, .price-3{
    color: #0C0D0C;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 150%; /* 36px */
}
.B, .B-2, .B-3{
    width: 310px;
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    line-height: 130%; /* 41.6px */
}
.description-1, .description-2, .description-3{
    width: 257px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 160%; /* 25.6px */
    font-variation-settings:
            "wdth" 100;
    opacity: 0.6;
}
#three{
    width: 1440px;
    height: 1024px;
}
.three-3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.GD{
    margin: 15vh 10vw;
    width: 1146px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.f3{
    height: 15%;
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 43px;
    font-style: normal;
    line-height: 130%; /* 55.9px */
    font-variation-settings:
            "wdth" 100;
}
.pp6{
    width: 609px;

}
.P6{
    color: #000;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
}
.grid{
    display: grid;
    height: 670px;
    grid-template-rows: 330px 230px;
    grid-template-columns: 362px 362px 362px;
    grid-gap: 30px;
}
nav{
    display: flex;
    justify-content: center;
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 150%; /* 27px */
}

#four{
    width: 1440px;
    background-image: url("dark.png");
}
.four2{
    height: 650px;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TT{

    height: 80%;
    width: 47%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.centr{
    margin: 10vh 0 0 0;
    justify-content: center;
    text-align: center;
}
.follow{
    color: #FF4B32;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 24px;
    font-style: normal;
    line-height: 150%; /* 36px */
}
.text{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 43px;
    font-style: normal;
    line-height: 130%; /* 55.9px */
}
.tt, .Tel, .email, .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: 150%; /* 36px */
}
.i1, .i2, .i3, .i4{
    height: 50px;
    width: 50px;
    margin: 20px;
}

#five{
    height: 760px;
    margin: 5vh 12vw;
}
.News{
    width: 1106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.FN{
    height: 50%;
    width: 609px;
    margin: 0;
}
.blok{
    height: 50%;
}
.bt{
    margin: 10vh 0;
    width: 1106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bt1{
    width: 362px;
    height: 536px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 40px 15px 136px 0 rgba(0, 0, 0, 0.20);
}
.news{
    color: #000;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 43px;
    font-style: normal;
    line-height: 130%; /* 55.9px */
}
.cup{
    width: 609px;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 160%; /* 28.8px */
    font-variation-settings:
            "wdth" 100;
}
.CB-1{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 32px;
    font-style: normal;
    line-height: 130%; /* 41.6px */
}
.text-1{
    margin: 0 2vw;
    text-align: left;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 16px;
    line-height: 160%; /* 25.6px */
}
.LM{
    margin: 1.5vh 3vw;
    text-align: left;
    color: #FF4B32;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 16px;
    line-height: 160%; /* 25.6px */
}
#six{
    width: 1440px;
    height: 376px;
    margin: 200px 0 0 0;
    background-image: url("Group 439.png");
    background-color: black;
    color: white;
}
.general{
    margin: 0 10vw;
    width: 1152px;
    height: 288px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.o-c{
    color: #FF4B32;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 130%; /* 31.2px */
}
.o-c, .o-c3{
    display: flex;
    justify-content: left;
    align-items: center;
}
.o-c2{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 18px;
    line-height: 160%; /* 28.8px */
}
.o-c3{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 18px;
    line-height: 150%; /* 27px */
}
.one-coffee{
    width: 288px;
}
.two-coffee{
    width: 866px;
    display: flex;
    justify-content: space-around;
}
.img-end{
    width: 244px;
    height: 38px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.end{
    color: #FFF;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 160%; /* 25.6px */
    display: flex;
    justify-content: center;
}
.CATEGORIES, .INFORMATION, .FOLLOW-US{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 24px;
    line-height: 150%; /* 36px */

}
.TC1, .TC2, .TC3{
    color: #FFF;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
    font-size: 18px;
    line-height: 150%; /* 27px */
}









