*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.box-color{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-size: 25px;
    color: black;
    flex-direction: column ;

 }
a{
    height: 15vh;
    color: black;

}
p{
    height: 15vh;
    margin: 3vh 10vw 3vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

#red{
    background-color: #9a1818;

}
#blu{
    background-color: blue;

}
#green{
    background-color: green;
}